header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    //background: #678993;
    background: linear-gradient(to right, #212121, #1b1b1b);

    font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: transform 0.3s ease, opacity 0.5s ease;

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.left-container {
    height: 100%;
    margin: 0px 20px;
    display: flex;
}

.names {
    height: 80%;
    margin: auto 30px auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-name {
    font-size: 20px;
    margin: 0;
}

.last-name {
    font-size: 25px;
    margin: 0;
}

.logo {
    height: 80%;
    margin: auto 5px;
    border: 1px solid #fff;
    border-radius: 10px;
}