nav {
    position: relative;
    margin-right: 20px;

    display: flex;
    gap: 20px;

    a {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;

        padding: 5px;

        &:hover {
            color: #ccc;
        }

        &.active {
            color: #fff;
            cursor: default;
        }
    }
}

.underline {
    position: relative;
    height: 2px;
    width: 70px;
    background-color: white;
    transition: left 0.3s ease, width 0.3s ease;

    pointer-events: none;
}